.shadow-sm {
    border: 1px solid;
}

.group:hover .group-hover\:block {
    display: block;
    margin-top: 0;
}
/* استایل کلی */
body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
}

/* استایل تب‌ها */
.tab-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab-button.active {
    border-bottom-color: #3b82f6;
    color: #3b82f6;
}



.tab-content.active {
    display: block;
}

/* استایل هشدار حداقل سفارش */
#min-order-warning {

}

#min-order-warning.show {
    display: block;
}
.hidden {
    display: none;
}

.active {
    background-color: #3b82f6; /* رنگ آبی */
    color: white;
}